<div class="register-form">
  <label>Firstname:
    <input [(ngModel)]="user.firstname" type="text">
  </label>
  <label>Lastname:
    <input [(ngModel)]="user.lastname" type="text">
  </label>
  <label>Email:
    <input
      [(ngModel)]="user.email"
      type="email"
      name="email"
      placeholder="Your email"
      required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
      #emailInput="ngModel">
  </label>
  <div [hidden]="!emailInput.errors || !emailInput.touched || (emailInput.errors && !emailInput.errors.required)">
    Email can't be empty
  </div>
  <div [hidden]="!emailInput.errors || (emailInput.errors && !emailInput.errors.pattern)">
    Wrong format
  </div>
  <label>Year of birth:
    <input 
      [(ngModel)]="user.year"
      type="text"
      pattern="^\d{4}$"
      #yearInput="ngModel">
  </label>
  <div [hidden]="!yearInput.errors || (yearInput.errors && !yearInput.errors.pattern)">
    Only YYYY year format.
  </div>
  <label>Password:
    <input
      [(ngModel)]="user.password"
      type="password"
      name="password"
      placeholder="Your password"
      required
      minlength="3"
      #passwordInput="ngModel">
  </label>
  <div [hidden]="!passwordInput.errors || !passwordInput.touched || (passwordInput.errors && !passwordInput.errors.required)">
    Password can't be empty
  </div>
  <div [hidden]="!passwordInput.errors || (passwordInput.errors && !passwordInput.errors.minlength)">
    At least 3 characters.
  </div>
  <input type="submit" (click) = "register()">
</div>
<div>
  <button type="button" (click) = "onClick()">Login</button>
</div>