.form-container{
  margin-top: 30px;
}

.form-container form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
}

.form-container form input{
  margin-bottom: 10px;
}

.form-container form button{
  margin-top: 20px;
  background-color: #6200ee;
  color:#ffffff;
}

.control-btn{
  margin-top: 40px;
  text-align: center;
}

.control-btn button {
  margin: 5px;
  background-color: #03dac6;
  color: #000000; 
}