.edit-form{
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin: 10px;
}

.edit-form input {
  text-align: center;
}

label{
  margin-right: 35%;
}

button{
  margin-top: 30px;
  align-self: center;
  color: #ffffff;
  background-color: #6200ee;
}