<div class="edit-form">
  <label>Firstname:
    <mat-form-field>
      <input matInput [(ngModel)]="user.firstname" type="text">
    </mat-form-field>
  </label>
  <label>Lastname:
    <mat-form-field>
      <input matInput [(ngModel)]="user.lastname" type="text">
    </mat-form-field>
  </label>
  <label>Email:
    <mat-form-field>
      <input matInput [(ngModel)]="user.email" type="email">
    </mat-form-field>
  </label>
  <label>Year of birth:
    <mat-form-field>
      <input matInput [(ngModel)]="user.year" type="text">
    </mat-form-field>
  </label>
  <label>Password:
    <mat-form-field>
      <input matInput [(ngModel)]="user.password" type="text">
    </mat-form-field>
  </label>
  <button mat-raised-button type="button" (click) = "update()">Save</button>
</div>